{% extends 'base.html.twig' %}

{% block title %}Liste des Memo{% endblock %}

{% block body %}

    {%if app.user%}

    <section class="memo">

        {% for memo in memo%}
        <memo>
            <h4>{{ memo.titre }}</h4>
            <div class="content">
             <h4>Contenu du memo: </h4>
             {{memo.contenu | raw}}
             <h4>Auteur:</h4>
             {{memo.auteur | raw}}
                <a href="{{path('memo_show',{'id':memo.id} )}}" class="btn btn-primary">Aperçue du memo</a>
            </div>
        </memo>
        {% endfor %}


    </section>

    {% else %}

    <h2>Connectez vous pour voir les memo</h2>
    <a href="{{path('login')}}" class="btn btn-primary">Connexion</a>
    {% endif %}


{% endblock %}
